spring:
  application:
    name: inventory-service
  datasource:
    url: jdbc:postgresql://localhost:55432/inventory_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin
  sql:
    init:
      mode: always
server:
  port: 8082
