version: "3.9"
services:

  postgres:
    image: postgres:16
    container_name: postgres-inventory
    restart: always
    environment:
      POSTGRES_DB: inventory_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "55432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - inventory-net

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq-inventory
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    ports:
      - "5672:5672"   # para conexión AMQP (Spring)
      - "15672:15672" # panel de administración web
    networks:
      - inventory-net

networks:
  inventory-net:
    driver: bridge

volumes:
  postgres_data:
